.nav-item a{
    color: white;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
        border-radius: 10px;
        background-color: #E4DFDA;
        color: #4357AD;
    }
}

nav{
    background-color:  #4357AD !important;
}

footer{
    background-color: #4357AD; 
    color: white;
}