<section class="container">
    <div class="card m-3">
        <div class="d-flex p-3 align-items-center justify-content-between">
            <div class="page-heading">
                <div class="page-label">Welcome to</div>
                <div class="title explore-page-title">LeetCode Explore</div>
            </div>
            <div class=" d-flex pull-right tool-set-base hidden-xs">
                <div class="mx-1">
                  <i class="fi fi-rr-star"></i>
                </div>
                <div>
                    <i class="fi fi-rr-time-quarter-to"></i>
                </div>
                </div>
            </div>
    </div>
    <div class="m-3">
        <div class="d-flex justify-content-between">
            <h3>Topic Name</h3>
            <button class="btn btn-light">View More</button>
        </div>
    </div>
</section>