<section class="features container text-center my-5">
    <div class="row">
        <div class="col-lg-6 my-auto">
           <img src="/initial-img.png" class="img-fluid main-frame" alt="home-page-1">
        </div>
        <div class="col-lg-6 my-auto">
            <h2>
                Clear MAANG?
            </h2>
            <p>
                LeetCode Clone is the best platform to help you enhance your skills, expand your knowledge and prepare for technical interviews.
            </p>
        </div>
    </div>
</section>